.App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 100vh;
}
.App > * {
    overflow-y: auto;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    list-style: none;
    border-bottom: 1px solid grey;
}
dl {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 10px;
    margin: 0;
}
dd {
    margin: 0;
}
dl.simulation-rejections-by-reason {
    grid-template-columns: 1fr min-content
}

header {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0 10px 0;
}
